
{% extends "layout.html" %}

{%block container%}

{% from "_macros.html" import render_flied%}
<div class="container">
<div class="row">
    <h3>Empleados</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Sueldo</th>
                <th>Eliminar</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in Empleados %}
            <tr>
                <td>{{emp.nombre}}</td>
                <td>{{emp.direccion}}</td>
                <td>{{emp.email}}</td>
                <td>{{emp.telefono}}</td>
                <td>{{emp.sueldo}}</td>
                <td><a href="eliminar.html?id={{emp.id}}"
                    class="btn btn-danger">Eliminar</a></td>
                <td><a href="modificar.html?id={{emp.id}}"
                    class="btn btn-warning">Modificar</a></td>

            </tr>
                
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
    
{% endblock %}